<div class="admins-page">
	
	<div class="header">
		<div class="title">Template Management</div>
	</div>
	<div class="list">
		<div class="head-list">
			<div class="item">Title</div>
			<div class="item">Value</div>
			<div class="item">Action</div>
		</div>
		<div class="item-list" *ngFor="let temp of tempList" #item>
			<div class="it name">dd</div>
			<div class="it name">dd</div>
			<div class="it">
				<div class="btn edit" style="width: 16%;padding: 4% 0;" [routerLink]="'/admin/management/update-template/fds'">
					<i class="fa-regular fa-pen-to-square"></i>
				</div>
			</div>
		</div>

	</div>		

</div>