<div class="user-form">
	<div class="return-btn" (click)="returnFromPage()" ><i class="fa-solid fa-arrow-left"></i></div>
	<div class="form" *ngIf="!isLoading">
		<input type="text" placeholder="First name" (input)="updateUserInfos('name',$event)"  [value]="userEntries.name"/>
		<br>
		<input type="text" placeholder="Last name" (input)="updateUserInfos('lastName',$event)"  [value]="userEntries.lastName"/>
		<br>
		<input type="text" placeholder="PseudoName" (input)="updateUserInfos('pseudoName',$event)"  [value]="userEntries.pseudoName"/>
		<br>
		<input type="number" [value]="userEntries.teleJoueur" (input)="updateUserInfos('teleJoueur',$event)" placeholder="Telephone"/>
		<br>
		<label>Solde: {{requestUpdateInfos.solde}}</label>
		<br>
		<br>
		<div class="sc">
			<input type="number" class="amount" placeholder="amount" #amount />
			<button class="amount" (click)="changeSolde(amount,'+')"><i class="fa-solid fa-plus"  ></i></button>
			<button class="amount" (click)="changeSolde(amount,'-')"><i class="fa-solid fa-minus"></i></button>
		</div>
		<br>
		<button (click)="update()" >create</button>
	</div>
	<div class="loading-ellipsis" *ngIf="isLoading">
		<div class="r1"></div>
		<div class="r2"></div>
		<div class="r3"></div>
	</div>
</div>