<div class="admins-page">
	
	<div class="header">
		<div class="title">Admins Management</div>
		<div class="btns">
			<div class="btn" routerLink="/admin/management/add-admin/">
				<i class="fa-solid fa-circle-plus"></i>
				<p>Add new admin</p>
			</div>
		</div>
	</div>
	<div class="list">
		<div class="head-list">
			<div class="item">login</div>
			<div class="item">Name</div>
			<div class="item">solde</div>
			<div class="item">Profit</div>
			<div class="item">Telephone</div>
			<div class="item">users</div>
			<div class="item">Status</div>
			<div class="item">Action</div>
		</div>
		<div class="item-list" *ngFor="let admin of admins" #item>
			<div class="it name">{{admin.login}}</div>
			<div class="it name">{{admin.name}} {{admin.lastName}}</div>
			<div class="it">{{admin.solde}}</div>
			<div class="it">{{admin.prencentage}}%</div>
			<div class="it">{{admin.teleAdmin}}</div>
			<div class="it link">{{admin.users}} users<i class="fa-solid fa-eye" (click)="openUserForAdmin(admin)" ></i></div>
			<div class="it">
				<div class="status-account" *ngIf="admin.status">
					<i class="fa-solid fa-circle" style="color:#0dd20d;"></i>
				</div>
				<div class="status-account" *ngIf="!admin.status">
					<i class="fa-solid fa-circle" style="color:red;"></i>
				</div>
			</div>
			<div class="it">
				<div class="btn edit" [routerLink]="'/admin/management/update-admin/'+admin._id">
					<i class="fa-regular fa-pen-to-square"></i>
				</div>
				<div class="btn block" (click)="desactiveAdmin(admin,item)">
					<i class="fa-solid fa-ban"></i>
				</div>
			</div>
		</div>

	</div>		

</div>