<div class="container-app" style="background-image: url('/assets/img/background.jpg');">

	<div class="alert-orient">
		<div style="text-align: center;">
			<i class="fa-solid fa-rotate-right"></i>
			<br>
			Rotate screen
		</div>
	</div>

	<div class="fullScreenBtn"><i class="fa-solid fa-maximize"></i></div>

	<button class="btn-restart">Restart demo</button>
	
	<div class="content">

		<div class="timer">
			<p class="num-time">00:30</p>
		</div>

		<div class="sc elements">
			
		</div>
		<div class="sc spin">

			<div class="spin-container">

				<img class="nbr-flc" src="/assets/img/nbr-flc.png" />
				<div class="number number-wheel"><p class="numberWheel">5</p></div>
				<img class="key" src="/assets/img/key.png" />
				<img class="background" src="/assets/img/background-spin.png"/>
				<div class="spin-ctn">
					<div class="wheel">
						<img src="/assets/img/wheel.png">
					</div>
				</div>
			</div>
		
		</div>
		<div class="sc dashbord">
			<div class="progress-bar"><div class="progressTime"></div></div>
			<div class="content-dashbord">
				<div class="flex-boxs">
					<div class="box">
						<div class="title">Pay table</div>
						<div class="table">
							<div class="ligne ligne-dbl">
								<div class="s">
									color
								</div>
								<div class="f">
									<p class="red">x2</p>
									<p class="black">x2</p>
								</div>
							</div>
							<div class="ligne">
								<div class="s">dozens</div>
								<div class="f"><p>x3</p></div>
							</div>
							<div class="ligne">
								<div class="s">sectors</div>
								<div class="f"><p>x6</p></div>
							</div>
							<div class="ligne">
								<div class="s">even/odd</div>
								<div class="f"><p>x2</p></div>
							</div>
							<div class="ligne">
								<div class="s">number</div>
								<div class="f"><p>x36</p></div>
							</div>
						</div>
					</div>
					<div class="box hist">
						<div class="title">History</div>
						<div class="table">
							<div class="ligne">
								<div class="s">#1561560</div>
								<div class="f"><p class="red">16</p></div>
							</div>
							<div class="ligne">
								<div class="s">#1561560</div>
								<div class="f"><p class="black">26</p></div>
							</div>
							<div class="ligne">
								<div class="s">#1561560</div>
								<div class="f"><p class="red">7</p></div>
							</div>
							<div class="ligne">
								<div class="s">#1561560</div>
								<div class="f"><p class="black">35</p></div>
							</div>
							<div class="ligne">
								<div class="s">#1561560</div>
								<div class="f"><p class="black">22</p></div>
							</div>
						</div>
					</div>
				</div>
				<div class="stats">
					<div class="title">STATISTICS(Last 120 Draws)</div>
					<div class="table">
						<div class="table-stats"></div>
					</div>
				</div>
				<div class="sectors">
					<div class="title">SECTORS (Last 120 Draws)</div>
					<div class="table">
						<div class="ligne">
							<div class="letter">A</div>
							<div class="number">20</div>
							<div class="letter">B</div>
							<div class="number">15</div>
							<div class="letter">C</div>
							<div class="number">15</div>
						</div>
						<div class="ligne">
							<div class="letter">D</div>
							<div class="number">24</div>
							<div class="letter">E</div>
							<div class="number">19</div>
							<div class="letter">F</div>
							<div class="number">21</div>
						</div>
					</div>
				</div>
				<div class="colors">
					<div class="title">COLORS(Last 120 DRAWS)</div>
					<div class="table">
						<div class="ligne">
							<div class="red">56</div>
							<div class="black">58</div>
							<div class="green">6</div>
						</div>
					</div>
				</div>
				<div class="dozens">
					<div class="title">DOZENS(Last 120 DRAWS)</div>
					<div class="table">
						<div class="ligne">
							<div class="seg">1-12</div>
							<div class="number">45</div>
							<div class="seg">13-24</div>
							<div class="number">41</div>
							<div class="seg">25-36</div>
							<div class="number">28</div>
						</div>
					</div>
				</div>
				<div class="hotcold">
					<div class="title">HOT/COLD(Last 120 DRAWS)</div>
					<div class="table">
						<div class="ligne">
							<div class="title hot" style="background-color: #e58a04;">HOT</div>
							<div class="number black">8</div>
							<div class="number green">0</div>
							<div class="number red">9</div>
							<div class="number red">21</div>
							<div class="number black">20</div>
						</div>
						<div class="ligne">
							<div class="title cold" style="background-color: #2196F3;">COLD</div>
							<div class="number red">34</div>
							<div class="number red">30</div>
							<div class="number red">25</div>
							<div class="number black">10</div>
							<div class="number red">36</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>